<html>
    <head>
        <title>
            Resume
        </title>
        <link rel = "stylesheet" href = "style.css" >
    </head>    
    <body style="margin-top: 0%;">
        <section class="left">
            <div>
                <img src="./Assets/dp.jpeg" alt="img" class="pic" >
            </div>
            <div>
                <h3 style="line-height: 0.2em;">Contact </h3>
                <img src="./Assets/add-contact.png" width="20px"> - 8830020981 <br>
                <img src="./Assets/gmail.png" width="20px"> - nikitasingh140841@gmail.com <br>
                <img src="./Assets/linkedin.png" width="20px"> - https://www.linkedin.com/in/nikita
            </div>
            <hr>
            <div>
            <h3 style="line-height: 0.2em;">Programming Profiles</h3>
            <h4 style="line-height: 0.1em;">leetcode: </h4>
            <a href="https://leetcode.com/nikita_singh_14/" style="font-size: 12px; color: whitesmoke;" >https://leetcode.com/nikita_singh_14/</a>
            <h4 style="line-height: 0.2em;">codechef: </h4>
            </div>
            <hr>
            <div>
            <h3 style="line-height: 0.5em;">Technical Skills</h3>
            <h4 style="line-height: 0.2em;">Languages</h4>
            <ul>
                <li>C</li>
                <li>C++</li>
                <li>JAVA</li>
            </ul>
            
            <h4 style="line-height: 0.2em;">Development Skills</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>ReactJs</li>
            </ul>
            <h4 style="line-height: 0.2em;">Databases</h4>
            <ul>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Firebase</li>
            </ul>
            </div>
         <hr>
             <div>
            <h3 style="line-height: 0.2em;">Course Work</h3> 
            <ul>
                <li>Computer Networks</li>
                <li>Database Management System</li>
                <li>Object Oriented Programming</li>
            </ul>
            </div>
            <hr>
            <div>
            <h3 style="line-height: 0.2em;">Hobbies</h3> 
            <ul>
                <li>Table Tennis</li>
                <li>Dancing</li>
            </ul>
         </div>
        </section>
        <section class="main-right">
            <div>
                <br><br>
                <h1 style="font-size: 50px;margin: 0%; line-height: 0.3em;">NIKITA SINGH</h1>
                <p style="font-size: 20px;">Information Technology Undergraduate.<br>
                A creative Web Developer and Competitive Programmer</p>
            </div>
            <div>
                <hr>
                <h1>Education Background</h1>
                <h3 style="line-height: 0.1em;">B.Tech in Information Technology</h3>
                <p style="line-height: 0.3em;">Government College Of Engineering, Karad<p>
                    <h6 style="line-height: 0.3em;"></h6>
                <h3 style="line-height: 0.1em;">10th std (CBSE)</h3>
                <p style="line-height: 0.3em;">Army Public School, Pune<p>
                    <h6 style="line-height: 0.3em;"></h6>
                <h3 style="line-height: 0.1em;">12th std (CBSE)</h3>
                <p style="line-height: 0.3em;">Army Public School, Pune<p>
                <hr>
            </div>
            <div>
                <h1>Projects</h1>
                <h3 style="line-height: 0.3em;">Data Science with Python</h3>
                <p>Used various platforms like Jupyter, Rstudio, Spyder etc for data visualizations and predictions.
                    Worked on various datasets like Iris and Diabetes, Boston house pricing, Salary and 
                    Work-Experience of employees etc.
                </p>
                <h3 style="line-height: 0.3em;">Auto-Attendance Application</h3>
                <p>Flutter-based android application, used Firebase as the database.
                     Automatically records the attendance of students and mark them as Present 
                     if they are in hostel premises or else Absent.
                </p>
                <h3 style="line-height: 0.3em;">Banking Management System</h3>
                <p>A simple management system built using C++ language. 
                    It keeps track of all the accounts created, updated, deleted etc.
                </p>
                <h3 style="line-height: 0.3em;">BookGeeks</h3>
                <p>A web application for book/novel readers made using ReactJs and mongoDB.
            </div>
            <hr>
            <div>
                <h1>Area of Interests</h1>
                <ul>
                    <li>Web Development</li>
                    <li>Android Development (using flutter)</li>
                    <li>Competitive Programming</li>
                </ul>
            </div>
            <hr>
            <div>
                <h1>Positions of Resposibility</h1>
                <ul>
                    <li>Dais Organising Committee Member</li>
                    <li>Cultural Head of Information Techonology Student Association (ITSA)</li>
                    <li>Magazine Committee member and Hindi section head</li>
                    <li>Table-Tennis Coordinator of college Sports Fest 2023</li>
                </ul>
            </div>
             </section>
    </body>
</html>